{% extends 'measurement/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Calcula distancias
{% endblock title %}

{% block content %}
<!-- Button trigger modal -->
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
-->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Destino calculado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          La distancia a tu destino entre <span class="badge badge-secondary text-wrap">{{ location|upper|truncatechars:50  }} </span> y <span class="badge badge-secondary text-wrap"> {{ destination|upper|truncatechars:50  }}  </span> es {{ distance }} km
        </div>
        <div class="modal-footer">
            <!--
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
            -->
        </div>
      </div>
    </div>
  </div>
<div class="container">
{% if distance is not None and request.POST %}
<div class="alert alert-success" role="alert">
  <i class="fas fa-check"></i>
    La distancia entre <span class="badge badge-secondary text-wrap">{{ location|upper|truncatechars:50 }} </span> y <span class="badge badge-secondary text-wrap"> {{ destination|upper|truncatechars:50  }}  </span> es: {{ distance }} km
</div>  
{% endif %}

{% if distance is None and request.POST %}
<div class="alert alert-danger" role="alert">
  <i class="fas fa-exclamation-triangle"></i>  El origen y destino deben existir!!!!!!!!!!!!
</div>  
{% endif %}
</div>

<hr>
  <div class="row size-font-screenResponsive">
    <div class="col-12  col-lg-6 col-md-6  size-font-screenResponsive">
       
          <form action="" id="form" method="POST" autocomplete="off">

              {% csrf_token %}
              {{ form|crispy }}
          
              <button id="submit_form" type="submit" class="btn btn-outline-secondary btn-block">Calcular</button>
          </form>
          <br>
    </div>
    
    <div class="col-12 col-sm-12 col-lg-6 col-md-6" >
    <!-- <div class="col-12 col-sm-12 col-lg-6 col-md-6" style="font-size: 9px;"></div> -->
      <h6 class="prueba">Últimas 5 busquedas</h6>
      <table class="table  size-font-screenResponsive">
        <thead class="thead-ligth">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Km</th>
          </tr>
        </thead>
        <tbody class="size-font-screenResponsive">

          {% for obj_m in obj_measurements %}
          {% if forloop.counter == 1 %}
            <tr class="bg-light">
          {% else %}
            <tr>
          {% endif %}
            <th scope="row">{{ obj_m.id|truncatechars:20 }}</th>
            <td data-toggle="tooltip" data-placement="top" title="{{ obj_m.location }}">{{ obj_m.location|truncatechars:30 }} </td>
            <td data-toggle="tooltip" data-placement="top" title="{{ obj_m.destination }}">{{ obj_m.destination|truncatechars:30 }}</td>
            <td>{{ obj_m.distance|truncatechars:15 }} km</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

       

    </div>

  
  </div>

  <div class="row">
    <div class="col ">
          <div id="mapa" style="position: relative; width: 100%; height: 100%;" >
            <div style="position: relative; left: 1px; top: 25px; width: 100%; height: 100%"> 
              {{ map|safe }}
              <br>
              <br>
              <br>
            </div>

            <div id="cargando-mapa" style="position: absolute; left: 50%; top: 100px; z-index: 3;">  
            
            </div>

            
          </div>
    </div>
  </div>



  <!--
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
-->


<br>
<br>
<br>


{% endblock content  %}

{% block scripts %}
<script>
    {% if request.POST and distance is not None %}
    $(window).on('load', function(){
        $('#exampleModal').modal('show');
    }
    );
    {% endif %}
    
</script>

<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
    var form = document.getElementById("form");
    var status = document.getElementById("submit_form").textContent;
    var contenido="";
    contenido="Enviando datos...<div class='spinner-grow text-alert ml-4 spinner-border-sm'  role='status'> <span class='sr-only'></span></div>";
    var contenido2="<h4>Calculando...</h4> <div class='spinner-border text-dark ml-4 '  role='status' style='z-index: 10; width: 3rem; height: 3rem;'> <span class='sr-only'></span></div>";
    //alert(status);
   
    //document.getElementById("cargando-mapa").innerHTML+=contenido2;
    //document.getElementById("submit_form").textContent=contenido;
    

    function handleSubmit(event) {
      var elem = document.getElementById("submit_form");
      
      document.getElementById("submit_form").innerHTML=contenido;
      elem.setAttribute("disabled", "");
      //$("#submit_form").html('<span  class="spinner-border spinner-border-sm mr-2 mt-1 float-right ml-2" aria-hidden="true" role="status"></span> Enviando ID...');
      
    document.getElementById("cargando-mapa").innerHTML+=contenido2;

    }

    //form.addEventListener("submit", handleSubmit)
    //La misma funcion pero usando arrow
    form.addEventListener("submit", handleSubmitArrow = (event) =>{
      var elem = document.getElementById("submit_form");      
      document.getElementById("submit_form").innerHTML=contenido;
      elem.setAttribute("disabled", "");
      //$("#submit_form").html('<span  class="spinner-border spinner-border-sm mr-2 mt-1 float-right ml-2" aria-hidden="true" role="status"></span> Enviando ID...');      
      document.getElementById("cargando-mapa").innerHTML+=contenido2;
      console.log(event);

    });


</script>


{% endblock scripts %}