
input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;    
    border-radius: 0px !important;
    /*border-bottom:  1px  solid      rgb(0, 0, 0) !important;*/
}

input:focus {
    outline: none;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;  
  }

button{
    border-radius: 25px !important;
}
input:hover,
input:focus{
  
   
    transition: all 1s ease-out !important;
    outline: 0 !important;
    cursor: pointer !important;
}

.size-font-screenResponsive-brandText{
  font-size: 18px;
}

.size-font-screenResponsive{
    font-size: 12px;
    /*background-color: yellow;*/
}

@media (max-width: 600px) {
    .justifyContentEnd{      
      flex-wrap: wrap !important;  
      justify-content: flex-start !important;      
    }

    .size-font-screenResponsive {
      /*display: none;*/
      font-size: 9px;
    }

    .size-font-screenResponsive-brandText{
      font-size: 14px;
    }

}

.input-search{
  font-size: 10px;
  color: white !important;
  width: 100px !important;
  height: 30px !important;
  outline: none;
  border-top-color: rgb(0, 0, 0);
  /* border-bottom-color: #28a745 !important ;*/
  border-bottom-color: #ffffff !important ;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important; 
  background-color: #343a40 !important;
}

.justifyContentEnd{
  display: flex;
  justify-content: flex-end;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  font-size: 12px;
  color: white;
  border: 0;
  outline: 0;
  background: none;

  /*width: 0; */
  width: 60px;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  /*width: 450px;*/
  width: 200px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  /*background: white;*/
  background-color: #353b48;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }
  
